/* Utilities */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Buginese&family=STIX+Two+Text:ital@0;1&display=swap');

.comic{
  font-family: 'Comic Sans MS', sans-serif !important; 
}

header,main,footer{
    font-family: 'STIX Two Text', serif;  
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

:root {
  --primary-color: #AABCC5;
  --secondary-color: #1A1D1A;
  --tertiary-color: #536C79;
}

.primary{
  color: var(--primary-color);
}

.secondary{
  color: var(--secondary-color);
}

.tertiary{
  color: var(--tertiary-color)
}

.buffer{
  margin-bottom: 60px;
}

.buffer-mini{
  margin-bottom: 20px;
}

.section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.spacer{
  width: 75%;
  max-width: 1280px;
}

main{
  display: flex;
  flex-flow: column;
  justify-content: center;
}

/* header and hero picture */

header .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #333;
  /* opacity: 1; */
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
  scroll-behavior: smooth;
}

header .navbar ul{
  display: flex;
}

header .navbar ul li{
  text-decoration: none;
  padding: 0 15px;
  list-style: none;
}

header .navbar ul li a{
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 10px;
}

.navbar a:hover {
  border-bottom: var(--primary-color) 2px solid;
}

.navbar.top{
  background: transparent;
}

header .hero{
  background: https://github.com/StephenMullori/Metamorphosis/blob/main/img/gregor.webp center center/cover;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: relative;
  z-index: -1;
}

header .hero .quote{
  color: white;
  font-size: 30px;
  z-index: 1;
  max-width: 35%;
}

header .hero .quote .author{
  text-align: right;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.6;
}


/* sysnopsis  */

.youtube-video{
  /*aspect ratio width="1280" height="720" */
  aspect-ratio: 16/9;
  width: 75%;

  max-width: 1280px;
}


main #synopsis h1{
  margin-bottom: 10px;
  font-style: italic;
}

/* Charaters */

main #characters h1{
  margin-bottom: 20px;
  border-bottom: 2px var(--secondary-color) solid;
}

/* roach */
#roach img{
  aspect-ratio: 16/5;
  width: 75%;
  max-width: 1280px;
}

/* Style */

#style h1{
  border-bottom: var(--primary-color) double 10px;
  text-align: center;
  width: 33%;
  max-width: 1280px;
}

/* Literary-devices */

#literary-devices h1{
  border-bottom: 2px var(--secondary-color) solid;
}

#literary-devices ul {
  padding-left: 35px;
  padding-top: 10px;
}

#literary-devices ul li{
  margin-bottom: 10px;
}

/* franz */

#franz img{
  aspect-ratio: 1/1;
  max-width: 500px;
}

#franz p{
  text-align: right;
  width: 500px;
  max-width: 500px;
}


/* Meaning as a whole */

#meaning h1{
  border-bottom: 2px var(--secondary-color) solid;
}

/* Footer */
footer{
  display: flex;
  justify-content: center;
  height: 8vh;
  background-color: var(--secondary-color);
  color: #fff;
  align-items: center;
}

footer .top{
  padding: 5px;
  border: white solid 1px;
  border-radius: 5px;
  margin-left: 10px;
}

footer .top:hover{
  border: var(--tertiary-color) solid 1px;
  color: var(--tertiary-color);
  cursor: pointer;
}
